<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        stderr="true"
        colors="true"
        cacheResult="false"
        stopOnFailure="true"
        executionOrder="random"
>
    <testsuites>
        <testsuite name="OG tests">
            <directory>./test/og/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>src/</directory>
        </include>
        <exclude>
            <directory>src/Equipment/</directory>
            <directory>src/Weapon/</directory>
        </exclude>
    </coverage>
</phpunit>
